<section class="sidenav-content">
  <section class="nav-group">
    <input id="tabexample2" type="checkbox">
    <label for="tabexample2">Available Users</label>
    <ul class="nav-list">
      <li *ngFor="let user of Users">
        <!-- <span class="status" [style.color]="green"></span> -->
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/users/{{user.id}}">
          {{user.name}}</a>
      </li>
    </ul>
  </section>

  <section class="nav-group">
    <input id="tabexample2" type="checkbox">
    <label for="tabexample2">Available albums</label>
    <ul class="nav-list">
      <li *ngFor="let album of Albums">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/albums/{{album.id}}">
          {{album.title}}</a>
      </li>
    </ul>
  </section>
</section>
